<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regex Tester | Flask project</title>
</head>
<body>
<h2> Welcome to regex testing tool! </h2>

<div>
    <form action="/" method="POST">
        <input type="text" placeholder="Enter regex" name="regex" id="field_1">
        <input type="text" placeholder="Enter text" name="text" id="field_2">
        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>
<div>
<a href="/history/"> History </a>
</div>
<hr>
<div>
    {% if result %}
    <div>{{ result }}</div>
    {% endif %}
</div>>

</body>
</html>